module RapSheetParser
  grammar OtherCycleEventGrammar
    include EventGrammar

    rule event
      detected_event / unknown_event
    end
    
    rule detected_event
      (!event_identifier .)* event_identifier wn name (!date .)* date wn [.']* wn name? wn courthouse wn toc? (!count_identifier .)* counts updates <EventGrammar::Event>
    end

    rule unknown_event
      .*
    end
  end
end
