module RapSheetParser
  grammar UpdateGrammar
    include DispositionGrammar

    rule update
      stuff dispositions <Update>
    end

    rule dispositions
      disposition*
    end

    rule stuff
      (!dispo_header .)*
    end
  end
end
